html {
    height: 100%;
}
body {
    height: 100%;
}
p, div {
    font-size: 16px;
}
h3 {
	color: #006bce;
}
h1 {
	color: #333333;
}
.post-body {
	background: #b4cffa;
}
.blog-item {
	overflow: auto;
}
.thumbnail {
	width: 200px;
	height: 125px;
	float: left;
	padding-right: 20px;
}

.excerpt {
/* 	float: left;
	padding-left: 20px; */
}
